<div class='card'>
  <h3 class='card__header'>{{header}}</h3>
  {{#each inputs}}
    <div class='card__input-block'>
      <label
        class='input-block__label'
        for={{this.labelID}}
      >
        {{this.label}}
      </label>
      <input
        class='input-block__input'
        id={{this.labelID}}
        type={{this.inputType}}
        {{#if this.required}}
          equired
        {{/if}}
      />
      <div class='card__error'>{{this.error}}</div>
    </div>
  {{/each}}
  <a href='index.hbs'>
    {{> button}}
  </a>
  <a href={{linkHref}} class={{linkClassName}}>
    {{linkText}}
  </a>
</div>
